[
  {kernel, [
    {distributed, [{erms, 5000, ['erms_dev@adie-desktop']}]},
    {sync_nodes_timeout, 5000}
  ]},
  {erms, [
    {session_store, [
      {secret, "UniqueAndSecretString"},
      {expire_after, 3600}
    ]},
    {modules, [
      erms_db,
      erms_dms
    ]}
  ]},
  {erms_db, [
    {db, [
      {adapter, mysql},
      {options, [
        {hostname, "localhost"},
        {port, 3306},
        {username, "erms"},
        {password, "manager"},
        {database, "erms"},
        {encoding, utf8},
        {poolsize, 1}
      ]}
    ]}
  ]},
  {erms_dms, [
    {file_storage, "/home/adie/projects/erms/dms_files"}
  ]}
].
