[
  {kernel, [
    {distributed, [{erms, 5000, ['erms_dev@adie-laptop']}]},
    {sync_nodes_timeout, 5000}
  ]},
  {erms, [
    {db, [
      {adapter, mysql},
      {options, [
        {hostname, "localhost"},
        {port, 3306},
        {username, "erms"},
        {password, "manager"},
        {database, "erms"},
        {encoding, utf8},
        {poolsize, 1}
      ]}
    ]}
  ]}
].
