%% -*- erlang -*-
%% ex: ft=erlang et
{erl_opts, [debug_info]}.
{lib_dirs, ["apps", "deps"]}.
{deps, [
  {mochiweb, ".*",
    {git, "git://github.com/mochi/mochiweb.git", ""}},
  {simple_bridge, ".*",
    {git, "git://github.com/rklophaus/SimpleBridge.git", ""}}
]}.
{sub_dirs, [
  "apps/erms_db",
  "apps/erms_auth",
  "apps/erms_admin",
  "apps/erms_dms",
  "apps/erms_log"
]}.
{template_dir, "support/templates/"}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
