%% -*- erlang -*-
%% ex: ft=erlang et
{erl_opts, [debug_info]}.
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
  "apps/erms_api",
  "apps/erms_db",
  "apps/erms_auth",
  "apps/erms_admin",
  "apps/erms_dms",
  "apps/erms_log",
  "apps/erms_digsig"
]}.
{template_dir, "support/templates/"}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
